*
{
  margin: 0;
padding : 0;
}


body {
  text-align: center;
  margin-left: 5px;
  margin-right: 10px;
}


#main-img {
  background-image: url("resources/images/the-flatiron-building.png");
  background-size: cover;
  background-position: top center;
  height: 100%;
  width: 100%;
  position: fixed;

}


#main-img .content h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: Black;
}
