*
{
  margin: 0;
padding : 0;
}





body {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  background-image: url("../images/the-flatiron-building.png");
  background-size: cover;
}

.container {
  background-image: url("../images/the-flatiron-building.png");
  background-size: cover;
  height: 290px;
  width: 100% auto;
}

.main-img {

}

.main-nav {
  border: 3px groove white;
  position: relative;
  top: 4px;
  width: 300px;
  margin: 0 auto;
  border-radius: 15px;

}

.main-nav a {
 margin: 30px;
 color: white;
 font-family: Helvetica;
 font-size: 18px;
 letter-spacing: 5px;
 background:
}

.main-nav a:hover {
  background: 2e69a3;
  border: 1px solid white;
  color: orange;
}



h1 {
 font-size: 70px;
 color: white;
 font-family: Helvetica, sans-serif;
 font-weight: bold;
}

 .text-2 {
  font-family: Helvetica;
  font-size: 32px;
  font;size: bold;
  margin: 20px;
}

.middle-container > .text-4 {
  font-family: Helvetica;
  font-size: 14px;
}

.text-3 {
  margin: 18px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 23px;
  color: black;
}

.text-4 {
  font-family: Helvetica;
  font-size: 14px;
  margin-bottom: 20px;
}

.text-1 h2 {
  margin-bottom: 20px;
  font-size: 23px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.execute-img {
  margin-top: 20px;
}

.middle-img {
  background-image: url("../images/the-flatiron-building.png");
  width: 100% auto;
  height: 30px;
}

.contact {
  font-family: Helvetica;
  font-size: 14px;
  margin-bottom: 10px;
}


.footer-img {
  background-image: url("../images/the-flatiron-building.png");
  width: 100% auto;
  height: 30px;
  background-size: 95%;
}


.copyright p {
  font-family: Helvetica;
  font-size: 14px;
  color: rgb(120,128,147);
  background-color: none;
  float: left;
  letter-spacing: 5px;
}

.footer-nav a {
  color: white;
  font-size: 18px;
  float: left;
  margin: 5px;
  letter-spacing: 3px;
}

.footer-nav a:hover {
  background: 2e69a3;
  border: 1px solid white;
  color: orange;
}
