*
{
  margin: 0;
padding : 0;
}





body {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;

}


.main-img  {
  background-image: url("../images/the-flatiron-building.png");
  width: 100%;
  height: 300px;


}



.main-header {
  font-family: Helvetica;
  font-size: 70px;
  color: white;
  text-align: center;
  font-weight: bold;
}


.main-nav {

}


 a {

  font-family: Helvetica;
  color: white;
  font-size: 18px;
  float: inherit;
}


.our-process {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}


.fourteen-px {
  font-family: Helvetica;
  font-size: 14px;
}


.identify, .understand, .execute, .portfolio, .team, .contact   {
 font-family: Helvetica;
 font-size: 23px;
 font-weight: bold;
}


.mid-heading {

  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  font-color:
}

.mid-heading-img {
  background-image: url("../images/the-flatiron-building.png");
  width: 100%;
  height: 40px;
}


.footer-nav {
  font-family: Helvetica;
  color: black;
  font-size: 18px;
  float: left;
}


.footer-img {
  background-image: url("../images/the-flatiron-building.png");
  width: 100%;
  height: 20px;
}
